<a href="https://colab.research.google.com/github/LeoUrriste/Laboratorio-1-Analisis-de-Datos/blob/main/Laboratorio_1_Analisis_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analisis de Datos

## 1 ETL (Extraccion, Transformación y Carga)

### 1.1 Extracción

In [2]:
import pandas as pd
import chardet

# de donde obtuve el data set
# https://www.kaggle.com/datasets/slmsshk/medical-students-dataset?select=medical_students_dataset.csv

ruta_archivo = "/content/medical_students_dataset.csv"

# ocupo el chardet
with open(ruta_archivo, 'rb') as f:
  result = chardet.detect(f.read())
#  print(result)

# siempre ver el sep (separador (, o ;)) y el decimal (. o ,)
try:
  df = pd.read_csv(ruta_archivo, encoding=result['encoding'], sep=',', decimal='.')
  print('Extracción de datos exitosa')
except FileNotFoundError:
  print(f'El archivo no de encuentra en la ruta: {ruta_archivo}')

Extracción de datos exitosa

### 1.2 Transformación

In [3]:
# Tenemos un panorama de como estan formadas las filas y columnas
# Observación: la temperatura esta en °F
df.head(10)

,Student ID,Age,Gender,Height,Weight,Blood Type,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol,Diabetes,Smoking
0,1.0,18.0,Female,161.777924,72.354947,O,27.645835,NaN,95.0,109.0,203.0,No,NaN
1,2.0,NaN,Male,152.069157,47.630941,B,NaN,98.714977,93.0,104.0,163.0,No,No
2,3.0,32.0,Female,182.537664,55.741083,A,16.729017,98.260293,76.0,130.0,216.0,Yes,No
3,NaN,30.0,Male,182.112867,63.332207,B,19.096042,98.839605,99.0,112.0,141.0,No,Yes
4,5.0,23.0,Female,NaN,46.234173,O,NaN,98.480008,95.0,NaN,231.0,No,No
5,6.0,32.0,NaN,151.491294,68.647805,B,29.912403,99.668373,70.0,128.0,183.0,NaN,Yes
6,7.0,21.0,NaN,172.949704,48.102744,AB,16.081635,97.715469,66.0,134.0,247.0,No,No
7,8.0,28.0,Male,186.489402,52.389752,AB,15.063921,98.227788,85.0,123.0,128.0,No,No
8,9.0,21.0,Male,155.039678,42.958703,B,NaN,98.808053,NaN,111.0,243.0,No,No
9,10.0,32.0,NaN,170.836315,50.783250,B,17.400435,98.570168,61.0,94.0,166.0,NaN,No

In [8]:
# Obtenemos un resumen de la informacion del DataFrame
# Vemos si es necesario modificar el tipo de dato
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 192356 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      172465 non-null  Int64
 1   Age             172464 non-null  Int64
 2   Gender          172432 non-null  string
 3   Height          172449 non-null  float64
 4   Weight          172455 non-null  float64
 5   Blood Type      172440 non-null  string
 6   BMI             172456 non-null  float64
 7   Temperature     172445 non-null  float64
 8   Heart Rate      172453 non-null  Int64
 9   Blood Pressure  172464 non-null  Int64
 10  Cholesterol     172463 non-null  Int64
 11  Diabetes        172451 non-null  string
 12  Smoking         172459 non-null  string
dtypes: Int64(5), float64(4), string(4)
memory usage: 21.5 MB

In [7]:
# Vemos si existen valores nulos
df.isnull().sum()

Student ID        19891
Age               19892
Gender            19924
Height            19907
Weight            19901
Blood Type        19916
BMI               19900
Temperature       19911
Heart Rate        19903
Blood Pressure    19892
Cholesterol       19893
Diabetes          19905
Smoking           19897
dtype: int64

In [4]:
# Vemos si existen entradas duplicadas
df.duplicated().sum()

np.int64(7644)

In [5]:
# Eliminamos los datos duplicados
df = df.drop_duplicates()

In [6]:
# Transformamos los tipos de datos a enteros
df["Student ID"] = df["Student ID"].astype("Int64")
df["Age"] = df["Age"].astype("Int64")
df["Heart Rate"] = df["Heart Rate"].astype("Int64")
df["Blood Pressure"] = df["Blood Pressure"].astype("Int64")
df["Cholesterol"] = df["Cholesterol"].astype("Int64")

# Transformamos los datos a string
df["Gender"] = df["Gender"].astype("string")
df["Blood Type"] = df["Blood Type"].astype("string")
df["Diabetes"] = df["Diabetes"].astype("string")
df["Smoking"] = df["Smoking"].astype("string")

In [22]:
df.describe()

,Student ID,Age,Height,Weight,BMI,Temperature,Heart Rate,Blood Pressure,Cholesterol
count,172465.0,172464.0,172449.000000,172455.000000,172456.000000,172445.000000,172453.0,172464.0,172463.0
mean,49981.974488,26.022254,174.958363,69.980827,23.338982,98.601117,79.508817,114.564761,184.499765
std,28886.214693,4.890591,14.451249,17.323637,7.033691,0.500216,11.543127,14.404302,37.551044
min,1.0,18.0,150.000041,40.000578,10.074837,96.397835,60.0,90.0,120.0
25%,24968.0,22.0,162.480748,54.973981,17.858903,98.264992,70.0,102.0,152.0
50%,49950.0,26.0,174.920345,69.995078,22.670746,98.599527,80.0,115.0,184.0
75%,75015.0,30.0,187.469633,84.988687,27.992399,98.940488,90.0,127.0,217.0
max,100000.0,34.0,199.998639,99.999907,44.355113,100.824857,99.0,139.0,249.0

## 2 EDA (Analisis Exploratorio de Datos)

In [24]:
# Cual es la cantidad de estudiantes segun el genero?
# Se observa que la cantidad de estudiantes segun el genero es practicamente pareja
df["Gender"].value_counts()

Gender
Female    86250
Male      86182
Name: count, dtype: Int64

In [25]:
# De que edad son los estudiantes?
# En terminos generales la cantidad de estudiantes segun edad es pareja
df["Age"].value_counts().sort_index()

Age
18     9955
19     9954
20    10153
21    10197
22    10255
23     9895
24    10148
25    10259
26    10049
27    10302
28    10403
29    10247
30    10001
31    10112
32    10055
33    10256
34    10223
Name: count, dtype: Int64

In [26]:
# Observación mas descriptiva de las edades
# Oservamos que la edad media de los estudiantes es de 26 años
df["Age"].describe()

count     172464.0
mean     26.022254
std       4.890591
min           18.0
25%           22.0
50%           26.0
75%           30.0
max           34.0
Name: Age, dtype: Float64

In [27]:
# Teniendo en cuenta el genero de los estudiantes y la edad
df.groupby('Gender')['Age'].agg(["count", "mean", "min", "max"])

        count       mean  min  max
Gender
Female  77331  26.007397   18   34
Male    77193  26.061288   18   34

In [28]:
# Que cantidad de estudiantes poseen algun tipo de enfermedad como diabetes y lo clasificamos segun el genero
# Se observa que los valores son parejos
df.groupby("Gender")["Diabetes"].value_counts()

Gender  Diabetes
Female  No          69591
        Yes          7678
Male    No          69427
        Yes          7802
Name: count, dtype: int64

In [29]:
# Que cantidad de estudiantes poseen valores elevados de colesterol y pueden llevar a
# problemas futuros para su salud
# tenemos en cuenta que los valores: normales <200, medio entre 200 y 239 y alto >239
# Creamos una nueva columna y establecemos los intervalos
# "pd.cut" clasifica los valoes y "bins" define los intervalos

df["Colesterol Nivel"] = pd.cut(
    df["Cholesterol"],
    bins=[0, 199, 239, float("inf")],
    labels=["Normal", "Medio", "Alto"]
)
df["Colesterol Nivel"].value_counts()

Colesterol Nivel
Normal    106114
Medio      52988
Alto       13361
Name: count, dtype: int64

In [30]:
# Vemos el porcentaje
# Observamos que hay un alto porcentaje de estudiantes con valores medio-altos
cantidad_porcentaje = pd.DataFrame({
    "Cantidad": df["Colesterol Nivel"].value_counts(),
    "Porcentaje": df["Colesterol Nivel"].value_counts(normalize=True) * 100
})
cantidad_porcentaje

                  Cantidad  Porcentaje
Colesterol Nivel
Normal              106114   61.528560
Medio                52988   30.724271
Alto                 13361    7.747169

In [19]:
# Cuales son los indices de masa corporal segun la clasificacion de la OMs
# BMI (Indice de Masa Corporal)
# Observamos que un alto porcentaje se encuentra en en el rango de bajo peso y sobrepeso/obesidad
df["IMC Categoria"] = pd.cut(
    df["BMI"],
    bins=[0, 18.5, 25, 30, float("inf")],
    labels=["Bajo peso", "Normal", "Sobrepeso", "Obesidad"]
)
df["IMC Categoria"].value_counts(normalize=True) * 100

IMC Categoria
Normal       33.530292
Bajo peso    28.377093
Sobrepeso    19.752285
Obesidad     18.340330
Name: proportion, dtype: float64

In [31]:
# Existe alguna relacion entre el IMC y la diabetes?
# No se observa una relacion clara entre el IMC y la diabetes
# Se podria decir que existe una leve tendencia en personas con obesidad
imc_diabetes = df.groupby('IMC Categoria')['Diabetes'].value_counts(normalize=True) * 100
imc_diabetes

/tmp/ipython-input-2354168158.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  imc_diabetes = df.groupby('IMC Categoria')['Diabetes'].value_counts(normalize=True) * 100

IMC Categoria  Diabetes
Bajo peso      No          89.953858
               Yes         10.046142
Normal         No          90.183221
               Yes          9.816779
Sobrepeso      No          90.181150
               Yes          9.818850
Obesidad       No          89.524413
               Yes         10.475587
Name: proportion, dtype: float64

In [32]:
# Si relacionamos IMC y el Colesterol
# Observación: a medida que aumenta el IMC el colesterol en valores normales disminuye
# en personas con sobrepeso/obesidad es mas frecuente valores medio/alto de colesterol
imc_colesterol = df.groupby(["IMC Categoria", "Colesterol Nivel"]).size()
tabla = imc_colesterol.unstack()
print(tabla)

Colesterol Nivel  Normal  Medio  Alto
IMC Categoria
Bajo peso          27073  13353  3425
Normal             31724  15932  4082
Sobrepeso          18781   9456  2332
Obesidad           17488   8746  2151

/tmp/ipython-input-672819864.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  imc_colesterol = df.groupby(["IMC Categoria", "Colesterol Nivel"]).size()

In [15]:
# Rango de presion arterial

df["Blood Pressure"].agg(["min", "mean", "max"])

min      90.000000
mean    114.564761
max     139.000000
Name: Blood Pressure, dtype: float64

In [33]:
# Existe una relacion entre el IMC y la presión?
# Segun los datos obtenidos no encontramos una relacion entre un IMC alto y la presión

imc_presion = df.groupby('IMC Categoria')['Blood Pressure'].agg(['min', 'mean', 'max','count'])
imc_presion

/tmp/ipython-input-2181392202.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  imc_presion = df.groupby('IMC Categoria')['Blood Pressure'].agg(['min', 'mean', 'max','count'])

               min        mean  max  count
IMC Categoria
Bajo peso       90  114.546465  139  43893
Normal          90  114.555013  139  51779
Sobrepeso       90   114.50221  139  30539
Obesidad        90  114.597475  139  28356

In [34]:
# Que porcentaje de estudiantes consumen tabaco
# Teniendo en cuenta que son estudiantes de medicina se puede considerar que un alto porcentaje es fumador
df["Smoking"].value_counts(normalize=True) * 100

Smoking
No     79.960454
Yes    20.039546
Name: proportion, dtype: Float64

In [35]:
# Porcentaje de estudiantes que fuman en relacion a la edad
# Observamos que un 20% de los estudiantes fuman independientemente de la edad
df.groupby("Age")["Smoking"].value_counts(normalize=True) * 100

Age  Smoking
18   No         79.939414
     Yes        20.060586
19   No         80.024620
     Yes        19.975380
20   No         80.122726
     Yes        19.877274
21   No         79.973707
     Yes        20.026293
22   No         79.382340
     Yes        20.617660
23   No         79.223433
     Yes        20.776567
24   No         80.554946
     Yes        19.445054
25   No         80.032644
     Yes        19.967356
26   No         80.489425
     Yes        19.510575
27   No         81.131462
     Yes        18.868538
28   No         79.896741
     Yes        20.103259
29   No         80.058747
     Yes        19.941253
30   No         80.097952
     Yes        19.902048
31   No         79.045505
     Yes        20.954495
32   No         79.033870
     Yes        20.966130
33   No         78.990866
     Yes        21.009134
34   No         79.703833
     Yes        20.296167
Name: proportion, dtype: float64